body{
    background-color: #5fe0f7;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#akram{
    color: #001aff;
}
#water{
    movement: still;
}
